@font-face {
    font-family: "PressStart2P-Regular";
    src: url("/static/fonts/PressStart2P-Regular.ttf");
}

h1 {
    font-family: "PressStart2P-Regular", system-ui;
    font-size: 48px;

    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: unset;
}

span {
    font-family: "PressStart2P-Regular", system-ui;
    font-size: 16px;

    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: unset;
}

form {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;

    box-sizing: border-box;
    padding: 5px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

h1 {
    background-color: var(--pico-primary-background);
    color: var(--pico-primary-inverse);
    border: 1px solid var(--pico-primary-border, transparent);
    text-align: center;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
}
