<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="light dark">
        <link rel="stylesheet" href="/static/css/pico.red.min.css">
        <link rel="stylesheet" href="/static/css/landing.css">
  </head>
  <body>
    <h1>Webgame!</h1>
    <form action="/room/join" method="post" id="joinForm">
            <label for="name"><span>Name</span></label>
            <input type="text" id="name" name="username" autocomplete="off" {{if .JoinUsernameError}}aria-invalid="true"{{end}}>
            {{if .JoinUsernameError}}<small><span>{{.JoinUsernameError}}</span></small>{{end}}
        <label for="room code"><span>Room Code</span></label>
        <input type="text" id="room code" name="roomID" autocomplete="off" {{if .JoinCodeError}}aria-invalid="true"{{end}} {{if .JoinRoomFullError}}aria-invalid="true"{{end}}>
            {{if .JoinCodeError}}<small><span>{{.JoinCodeError}}</span></small>{{end}}
            {{if .JoinRoomFullError}}<small><span>{{.JoinRoomFullError}}</span></small>{{end}}
            <button type="submit"><span>Join Room</span></button>
    </form>
    <br>
    <form action="/room" method="post" id="createForm">
        <label for="name"><span>Name</span></label>
        <input type="text" id="name" name="username" autocomplete="off" {{if .CreateUsernameError}}aria-invalid="true"{{end}}>
            {{if .CreateUsernameError}}<small><span>{{.CreateUsernameError}}</span></small>{{end}}
            <button type="submit"><span>Create Room</span></button>
    </form>
  </body>
</html>
