<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="light dark">
        <link rel="stylesheet" href="/static/css/pico.red.min.css">
        <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <h1>Webgame!</h1>
    <form action="/room/join" method="post" id="joinForm">
        <label for="name">Name</label>
            <input type="text" id="name" name="username" {{if .JoinUsernameError}}aria-invalid="true"{{end}}>
            {{if .JoinUsernameError}}<small>{{.JoinUsernameError}}</small>{{end}}
        <label for="room code">Room Code</label>
        <input type="text" id="room code" name="roomID" {{if .JoinCodeError}}aria-invalid="true"{{end}}>
            {{if .JoinCodeError}}<small>{{.JoinCodeError}}</small>{{end}}
        <button type="submit">Join Room</button>
    </form>
    <br>
    <form action="/room" method="post" id="createForm">
        <label for="name">Name</label>
        <input type="text" id="name" name="username" {{if .CreateUsernameError}}aria-invalid="true"{{end}}>
            {{if .CreateUsernameError}}<small>{{.CreateUsernameError}}</small>{{end}}
        <button type="submit">Create Room</button>
    </form>
  </body>
</html>
